@model List<FoodyTekmerEntityLayer.Concrete.About>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Component.InvokeAsync("PartialHeadComponent")

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    @await Component.InvokeAsync("NavbarComponentPartial")

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">Hakkımızda</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">AnaSayfa</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Sayfalar</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Hakkımızda</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">

            <div class="row g-5 align-items-center">
                @foreach (var item in Model)
                {
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="~/img/@item.AboutImage" style="height:45rem">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

                        <h1 class="display-5 mb-4">@item.AboutTitle</h1>
                        <p class="mb-4">@item.AboutDescription</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="@item.AboutUrl">Daha fazla bilgi edinin</a>
                    </div>

                }

            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Firm Visit Start -->W
    @await Component.InvokeAsync("VisitOurComponentPartial")
    <!-- Firm Visit End -->

    <!-- Feature Start -->W
    @await Component.InvokeAsync("OurFeatureComponentPartial")
    <!-- Feature End -->

    <!-- Footer Start -->
    @await Component.InvokeAsync("FooterComponentPartial")
    <!-- Footer End -->

    <!-- Back to Top -->
    @await Component.InvokeAsync("ScriptComponentPartial")
</body>

</html>