@model List<FoodyTekmerEntityLayer.Concrete.About>

<div class="container-xxl py-5">
    <div class="container">

        <div class="row g-5 align-items-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="~/img/@item.AboutImage" style="height:45rem">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

                    <h1 class="display-5 mb-4">@item.AboutTitle</h1>
                    <p class="mb-4">@item.AboutDescription</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="@item.AboutUrl">Daha fazla bilgi edinin</a>
                </div>

            }

        </div>
    </div>
</div>