@model List<FoodyTekmerEntityLayer.Concrete.CustomerReview>

<div class="container-fluid bg-light bg-icon py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Düşünceleriniz Bizim İçin Değerlidir.</h1>
           @*  <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p> *@
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
          
            @foreach (var item in Model)
            {
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">@item.CustomerReviewDescription</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="~/img/@item.CustomerReviewImage" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">@item.CustomerReviewName</h5>
                            <span>@item.CustomerReviewProfession</span>
                        </div>
                    </div>
                </div>
            }

        </div>
        </div>
</div>